body {

}
   h1{
    font-size: 48px;
    color: var(--Purple);
    padding: 10px 0;
    font-family: oswald;
    font-weight: 600;
    text-align: center;
   }
   img {
      padding: 10px 0;
      margin-left: 35%;
   }
   p {
      margin-left: 35%;
      
   }
   {

   }
   